#!/usr/local/bin/bash
# Configuration file for spinpid.sh beginning version 2020-06-17, for Supermicro boards with single fan zone

DUTY_MIN=20  # Fan minimum duty cycle (%) (to avoid stalling)

#################  IPMITOOL ################

# Path to ipmitool.  If you're doing VM 
# you may need to add (inside quotes) the following to 
# remotely execute commands.
#  -H <hostname/ip> -U <username> -P <password>
IPMITOOL="/usr/local/bin/ipmitool"

#################  OUTPUT SETTINGS ################

# Change to your desired log location/name:
# LOG=/mnt/MyPool/MyDataSet/MyDirectory/spinpid.log
LOG=/mnt/Ark/Jim/spinpid.log

# Where do you want output to go?  Comment/uncomment (#) to select.  
# First sends output to the log file AND to the console, good for testing.  
# Second sends it only to the log file, so no feedback if running manually, but it won't take over the console.  
# In the first, if you want to append to existing log, add '-a' to the tee command.

exec > >(tee -i $LOG) 2>&1		# Log + console
# exec &> $LOG					# Log only

#################  DRIVE SETTINGS ################

SP=33.57        #  Setpoint mean drive temperature (C)

#  Time interval for checking drives (minutes).  Drives change
#  temperature slowly; 5 minutes is probably frequent enough.
DRIVE_T=5
Kp=4    #  Proportional tunable constant (for drives)
Kd=40   #  Derivative tunable constant (for drives)

#################  CPU SETTINGS ################

#  Time interval for checking CPU (seconds).
#  1 to 12 may be appropriate.
CPU_T=5

#  Reference temperature (C) for scaling CPU_DUTY (NOT a setpoint).
#  At and below this temperature, CPU will demand minimum
#  fan speed (drive temp or DUTY_MIN above will control fans).
CPU_REF=54  # Integer only!
#  Scalar for scaling CPU_DUTY.
#  CPU will demand this number of percentage points in additional
#  duty cycle for each degree of temperature above CPU_REF.
CPU_SCALE=6  # Integer only!


